<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/common.js"></script>
    <title>待维修单信息</title>
</head>

<body>
<div class="header">
    <h1 class="systemname">资源管理系统</h1>
    <div class="header-info">
        <h1 class="user">维修工，<span class="userstatus">已登陆</span></h1>
        <a class="exitbtn">退出系统</a>
    </div>
</div>
<div class="container">
    <div class="nav">
        <ul class="nav-item">
            <h1 class="nav-item-title">维修工</h1>
            <li class="nav-item-sub nav-item-sub-active" onclick="window.open('http://localhost:8080/daiweixiu')">待维修</li>

        </ul>
    </div>
    <div class="content">
        <div class="oparebtn">
            <div class="oparebtn-r">
                <a class="oparebtn-item oparebtn-primary oparebtn-add fn-add">信息状态修改</a>
            </div>
        </div>
        <form action="/daiweixiu">
            <table class="tablegrid">
                <col width="30" />
                <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>维修单号</th>
                    <th>维修内容</th>
                    <th>维修地址</th>
                    <th>发起时间</th>
                    <th><--当前待维修</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="daiweixiu:${daiweixiulist}">
                    <td><input type="checkbox" /></td>
                    <td th:text="${daiweixiu.f_id}" id="w_id" name="w_id"></td>
                    <td th:text="${daiweixiu.f_content}"></td>
                    <td th:text="${daiweixiu.f_address}"></td>
                    <td th:text="${daiweixiu.f_time}"></td>
                    <td th:text="${daiweixiu.w_id}"></td>
                </tr>
                </tbody>
            </table>
        </form>
        <div class="oparebtn">

            <div class="oparebtn-r">
                <a class="oparebtn-item oparebtn-primary">上一页</a>
                <a class="oparebtn-item oparebtn-primary">下一页</a>
            </div>
        </div>
    </div>
</div>

<div class="cover">
    <div class="openwin">

        <h2 class="openwin-title">完成维修单</h2>
        <form action="/finishweixiu">
            <table class="openwin-table">
                <tr>
                    <th>维修单号：</th>
                    <td><input type="text" th:value="${f_id}"  id="f_id" name="f_id"/></td>
                </tr>
                <tr>
                    <th>完成状态：</th>
                    <td><input type="text" th:value="${test}"  id="test" name="test"/></td>
                </tr>
            </table>
            <div class="oparebtn">
                <div class="oparebtn-r">
                    <a class="oparebtn-item oparebtn-cancel fn-cancel">取消</a>
                    <input id="queren" class="oparebtn-item oparebtn-cancel fn-cancel" type="submit" value="提交" />
                </div>
            </div>
            <h1 class="openwin-title">状态修改</h1>
        </form>

    </div>
    <script type="text/javascript">
        window.onload=function(){
            var btnSubEle = document.getElementById("queren");
            btnSubEle.onclick =function(){
                var fid = document.getElementById("f_id").value;
                if(fid == "" || fid == null ){
                    alert("维修单号不能为空");
                    return false;
                }

            }
        }
    </script>

</body>

</html>